{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vasia's Blog</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	<link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
	<div class="page-header">
        <a href="{% url "blog.views.post_new" %}" class="top-menu"><span class="large mdi-content-add-box"></span></a>
        <h1><a href="/">Vasia's First Blog and Template !</a></h1>
    </div>

	<div class="content container">
	    <div class="row">
	        <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	        </div>
	    </div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>
